In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from datetime import datetime


import requests
from bs4 import BeautifulSoup
import re as re
import time
import pandas as pd
import numpy as np

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

# Webscrapping

## Importing BBC webscrapping

### Getting the data

In [2]:
import src.BBC_webscrapping as bbc

In [3]:
df_bbc_russia = bbc.keyword('Russia',200)

In [4]:
df_bbc_china = bbc.keyword('China',200)

### Saving data into CSV

In [5]:
df_bbc_russia.to_csv('data/bbc_russia.csv',index=False)

In [6]:
df_bbc_china.to_csv('data/bbc_china.csv',index=False)

## Importing CNN webscrapping

### Getting the data

In [2]:
import src.CNN_webscrapping as cnn

In [3]:
df_cnn_russia = cnn.keyword('Russia',200)

In [3]:
df_cnn_china = cnn.keyword('China',200)

### Saving data into CSV

In [4]:
df_cnn_russia.to_csv('data/cnn_russia.csv',index=False)

In [4]:
df_cnn_china.to_csv('data/cnn_china.csv',index=False)

## Importing Peoples's  Daily Online

### Getting the data

In [5]:
import src.peoples_webscrapping as pdo

In [6]:
df_united_states = pdo.keyword('United States',60)

In [8]:
df_usa = pdo.keyword('USA',60)

In [9]:
df_us_all=pd.concat([df_united_states,df_usa])

In [13]:
df_uk = pdo.keyword('UK',60)

In [14]:
df_united_kingdom = pdo.keyword('United Kingdom',60)

In [17]:
df_uk_all=pd.concat([df_uk,df_united_kingdom])

### Saving into CSV

In [10]:
df_us_all.to_csv('data/pdo_united_states.csv',index=False)

In [19]:
df_uk_all.to_csv('data/pdo_united_kingdom.csv',index=False)

## Importing RT webscrapping

### Getting the data

In [51]:
import src.RT_webscrapping as rt

In [21]:
df_united_states = rt.keyword('United States',100)

In [29]:
df_usa = rt.keyword('USA',20)

In [30]:
df_us_all= pd.concat([df_united_states,df_usa])

In [33]:
df_united_kingdom = rt.keyword('United Kingdom',70)

In [45]:
df_uk = rt.keyword('uk',40)

In [47]:
df_uk_all=pd.concat([df_united_kingdom,df_uk])

### Saving into CSV

In [32]:
df_us_all.to_csv('data/rt_united_states.csv',index=False)

In [49]:
df_uk_all.to_csv('data/pdo_united_kingdom.csv',index=False)

# NLTK analysis

## Importing functions

In [2]:
import src.NLTK_analysis as nk

## Applying to BBC

- China

In [3]:
df_bbc_china=pd.read_csv('data/bbc_china.csv')

In [4]:
df_bbc_china = nk.preprocess(df_bbc_china)

In [5]:
df_bbc_china.sample()

,title,article,link,day_x,month,year,china,covid,chinese,balloon,...,artshealthworld,tvin,watch,picturesreality,assault,failed,checknewsbeatlong,surge,security,row
81,China Covid: Coffins sell out as rural losses ...,China Covid: Coffins sell out as rural losses ...,https://www.bbc.co.uk/news/world-asia-china-64...,25,1,2023,6.0,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Russia

In [6]:
df_bbc_russia=pd.read_csv('data/bbc_russia.csv')

In [9]:
df_bbc_russia = nk.preprocess(df_bbc_russia)

In [10]:
df_bbc_russia.sample()

,title,article,link,day_x,month,year,ukraine,russia,russian,war,...,government,embassy,nuclear,ministry,attack,newsmenuhomewar,failed,prigozhin,artshealthworld,serbia
21,Russia country profile - BBC News,Russia country profile - BBC NewsBBC HomepageS...,https://www.bbc.co.uk/news/world-europe-17839672,6,3,2023,5.0,19.0,6.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Applying to CNN

- China

In [11]:
df_cnn_china=pd.read_csv('data/cnn_china.csv')

In [12]:
df_cnn_china = nk.preprocess(df_cnn_china)

In [13]:
df_cnn_china.sample()

,title,article,link,day,month,year,ad,china,tv,account,...,presidency,audio,americas,success,tech,perspectives,indices,llc,covid,shows
133,Insomnia may be linked to higher risk of heart...,Insomnia may be linked to higher risk of hear...,https://www.cnn.com/2023/02/24/health/insomnia...,24,2,2023,6.0,3.0,9.0,6.0,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

- Russia

In [15]:
df_cnn_russia=pd.read_csv('data/cnn_russia.csv')

In [16]:
df_cnn_russia = nk.preprocess(df_cnn_russia)

In [17]:
df_cnn_russia.sample()

,title,article,link,day,month,year,ad,ukraine,tv,russia,...,kyiv,getty,trump,zelensky,march,country,audio,nuclear,chinese,africa
177,Kishida: Japan promises to 'lead the world' in...,Kishida: Japan promises to 'lead the world' i...,https://www.cnn.com/2023/02/20/asia/japan-ukra...,20,2,2023,5.0,7.0,9.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,3.0

## Applying to People's Daily Online

- United States of America

In [37]:
df_pdo_us=pd.read_csv('data/pdo_united_states.csv')

In [38]:
df_pdo_us = nk.preprocess(df_pdo_us)

In [39]:
df_pdo_us.sample()

,title,article,link,day,month,year,china,world,countries,chinese,...,hong,million,kong,affairs,iran,trade,cpc,zheng,photo,system
65,Highlights of U.S. Sailing Grand Prix Chicago ...,Highlights of U.S. Sailing Grand Prix Chicago ...,http://english.people.com.cn/n3/2022/0620/c900...,20,6,2022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN

- United Kingdom

In [34]:
df_pdo_uk=pd.read_csv('data/pdo_united_kingdom.csv')

In [35]:
df_pdo_uk = nk.preprocess(pdo_uk)

In [36]:
df_pdo_uk.sample()

,title,article,link,year,month,day,uk,saudi,china,russia,...,read,defense,middle,east,policy,state,international,kingdom,years,arab
9,"Saudi-US relations deteriorate over oil, but t...",Saudi-US relations deteriorate over oi...,https://www.rt.com/news/565260-saudi-us-biden-...,2022,Oct,25,NaN,28.0,NaN,5.0,...,NaN,NaN,3.0,3.0,NaN,NaN,NaN,4.0,NaN,3.0

## Applying to RT

- United States of America

In [31]:
df_rt_us=pd.read_csv('data/rt_united_states.csv')

In [32]:
df_rt_us = nk.preprocess(rt_us)

In [33]:
df_rt_us.sample()

,title,article,link,year,month,day,russia,military,ukraine,china,...,global,getty,intelligence,photo,korea,file,house,minister,report,north
61,European Commission bans TikTok — RT World News,European Commission bans TikTok ...,https://www.rt.com/news/571983-eu-commission-t...,2023,Feb,23,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN

- United Kingdom

In [ ]:
df_rt_uk=pd.read_csv('data/rt_united_kingdom.csv')

In [ ]:
df_rt_uk = nk.preprocess(df_rt_uk)