In [1]:
import pandas as pd
import requests

from bs4 import BeautifulSoup
import re
from nltk.stem import WordNetLemmatizer, PorterStemmer, SnowballStemmer
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

In [2]:
df_bbc_china=pd.read_csv('data/bbc_china.csv')

In [3]:
list_text=[i for i in df_bbc_china['article']]

In [4]:
def fwords(df):
    list_text=[i for i in df['article']]
    dict_words = {}

    for i, text in enumerate(list_text):
        tokens = word_tokenize(text)
        stop_words = set(stopwords.words("english"))
        words = [word.lower() for word in tokens if word.isalpha() and word.lower() not in stop_words]
        word_freq = Counter(words)
        sorted_words = sorted(word_freq.items(), key=lambda x: x[1], reverse=True)
        
        dict_word = {}
        for word, freq in sorted_words[:5]:
            dict_word[word] = freq
        dict_words[i] = dict_word
    df_words=pd.DataFrame(dict_words)

    df_words= df_words.transpose()
    
    sums = df_words.sum(axis=0).sort_values(ascending=False)
    df_words = df_words[sums.index]
    return df_words

In [5]:
fwords(df_bbc_china)

,china,us,covid,said,balloon,video,chinese,people,india,russia,...,guang,tian,stamp,budget,coronavirus,month,figures,security,missing,spreads
0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,14.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,NaN,11.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11.0,NaN,10.0,NaN,NaN,NaN,NaN,12.0,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.0,NaN,13.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,7.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,12.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,23.0,NaN,17.0,11.0,NaN,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_together=pd.merge(df_bbc_china,df_words, left_index=True,  right_index=True)

In [9]:
test_sentence=df_bbc_china['article'][0]

In [6]:

stop_words_file = 'english.txt'

stop_words = []

with open(stop_words_file, "r") as f:
    for line in f:
        stop_words.extend(line.split()) 
        
stop_words = stop_words  

def preprocess(raw_text):
    
    #regular expression keeping only letters - more on them later
    letters_only_text = re.sub("[^a-zA-Z]", " ", raw_text)

    # convert to lower case and split into words -> convert string into list ( 'hello world' -> ['hello', 'world'])
    words = letters_only_text.lower().split()

    cleaned_words = []
    lemmatizer = PorterStemmer()
    
    # remove stopwords
    for word in words:
        if word not in stop_words:
            cleaned_words.append(word)
    
    # stemm or lemmatise words
    stemmed_words = []
    for word in cleaned_words:
        word = lemmatizer.stem(word)
        stemmed_words.append(word)
    
    # converting list back to string
    return " ".join(stemmed_words)

In [10]:


preprocess(test_sentence)

'south china sea philippin china militari grade laser boat bbc newsbbc homepageskip contentaccess helpyour accounthomenewssportreelworklifetravelfuturemor menumor menusearch bbchomenewssportreelworklifetravelfutureculturemusictvweathersoundsclos menubbc newsmenuhomewar ukrainecoronavirusclimatevideoworldukbusinesstechsciencemorestoriesentertain artshealthworld news tvin picturesr checknewsbeatlong readsasiachinaindiasouth china sea philippin china militari grade laser boatpublish februaryshareclos panelshar pagecopi linkabout sharingimag sourc philippin coast guardimag caption philippin accus china shine laser boatsbi joel guintobbc newsth philippin accus china shine militari grade laser light scuttl resuppli mission disput shoal south china sea laser glare temporarili blind crew filipino coast guard boat forc retreat vessel head maroon navi vessel manila year claim thoma shoal china past water cannon siren enforc claim south china sea incid februari report publicli monday clear violat philippin sovereign right water manila refer west philippin sea filipino coastguard statement flash laser light chines ship made danger manoeuvr yard filipino ship starboard side author spokesperson presid ferdinand marco jr declin comment bbc comment beij perman court arbitr rule beij sweep claim south china sea histor basi tension shoal ayungin philippin catalyst case brought philippin tribun power enforc rule china continu build giant structur reef water disput part vietnam malaysia brunei taiwan philippin presid rodrigo dutert refus flaunt arbitr rule sought repair polit econom tie manila beij pivot countri long stand alli mr marco revers pivot earlier month govern agre grant access addit militari base june year chines navi vessel flash blue light blinker philippin coastguard tugboat philippin daili inquir report incid month australia accus china shine militari grade laser warplan northern australia relat topicschinaphilippineslaserstop storiesha putin assault ukrain power grid fail publish hour agoa twist moral code explain mexico cartel apologypublish hour agou bank biggest failur publish hour agofeatureshow tummi tuck kidnap end cartel confus videohow tummi tuck kidnap end cartel confusionha putin assault ukrain power grid fail oscar chang life kenyan designersl swimmer street fight photo weekhollywood play catch asian momentflorida battl race taught schoolsth expect seri twoindian student risk live studi videoindian student risk live studycan australia curb killer cat bbcthe effect tiktok beauti filtersth video game phenomenonth return lost languagemost read bbc boss sport disrupt linek row putin assault ukrain power grid fail twist moral code explain mexico cartel apolog bank biggest failur basic instinct cost son sharon stone tiger wood deni tenanc deal girlfriend australia curb killer cat angola deploy troop dr congo truce fail babi born week beat surviv odd england slump record home defeat francebbc news serviceson mobileon smart speakersget news alertscontact bbc newshomenewssportreelworklifetravelfutureculturemusictvweathersoundsterm useabout bbcprivaci policycookiesaccess helpparent guidancecontact bbcget personalis newsletterswhi trust bbcadvertis usadchoic sell info bbc bbc respons content extern site read approach extern link'