In [1]:
import pandas as pd
import requests

from bs4 import BeautifulSoup

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter

In [2]:
df_bbc_china=pd.read_csv('data/bbc_china.csv')

In [3]:
list_text=[i for i in df_bbc_china['article']]

In [20]:


for i, text in enumerate(list_text):
    tokens = word_tokenize(text)
    stop_words = set(stopwords.words("english"))
    
    words = [word.lower() for word in tokens if word.isalpha() and word.lower() not in stop_words]
    word_freq = Counter(words)
    
    sorted_words = sorted(word_freq.items(), key=lambda x: x[1], reverse=True)
    
    dict_word = {}
    for word, freq in sorted_words[:10]:
        dict_word[word] = freq
    dict_words[f"text_{i+1}"] = dict_word
        


df = pd.DataFrame.from_dict(dict_words, orient='index')

In [21]:
df

,china,laser,philippine,philippines,bbc,south,sea,used,news,accused,...,deliberately,traffic,accounts,weibo,attacks,much,ms,prime,pressure,join
text_1,11.0,6.0,6.0,5.0,5.0,4.0,4.0,4.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_2,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_3,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_4,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_5,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
text_117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text_124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN